* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  width: 860px;
  height: 450px;
  display: flex;
  padding: 47px 38px 38px 46px;
}
.container {
  background-color: #828282;
  width: 784px;
  height: 357px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 28px 35px 35px 28px;
}

.top-item1 {
  background-color: #403f3f;
  width: 343px;
  height: 301px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 26px 26px 32px;
}

.item {
  background-color: #262626;
  width: 291px;
  height: 52px;
  border-radius: 12px;
}

.top-item2 {
  background-color: #403f3f;
  width: 343px;
  height: 301px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 26px 23px 23px 28px;
}

.item1 {
  background-color: #262626;
  width: 142px;
  height: 247px;
  border-radius: 12px;
}
