* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  width: 860px;
  height: 450px;
  padding: 103px 38px 103px 38px;
}

.container {
  background-color: #828282;
  width: 784px;
  height: 244px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 36px 26px 36px;
  align-items: center;
}

.top,
.middle,
.bottom {
  /* background-color: red; */
  width: 712px;
  height: 54px;
  display: flex;
  justify-content: space-between;
}

.item1 {
  width: 168px;
  height: 54px;
  border-radius: 12px;
  background-color: #484343;
}

.item2 {
  width: 343px;
  height: 54px;
  background-color: #484343;
  border-radius: 12px;
}

.item3 {
  background-color: #484343;
  width: 225px;
  height: 54px;
  border-radius: 12px;
}
